<header class="hero-unit" id="banner">
  <div class="container">
    <img src="assets/images/logo.gif" alt="This is moodle" class="resizeBanner">
    <h2>A Better Moodle</h2>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Create a resource
          </h3>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">Name: </label>
              <input type="text" class="form-control" id="name" placeholder="" ng-model="resource.name">
              <p class="help-block">Fill in the name of the resource, i.e. notes_v_2</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="link">Location: </label>
              <input type="text" class="form-control" id="link" placeholder="" ng-model="resource.link">
              <p class="help-block">Please fill in the location of the file, i.e. http://www.somefile.com</p>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-info" ng-click="createResource(resource)"><i class="fa fa-upload fa-1x"></i> Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Your Resources
          </h3>
        </div>
        <div class="panel-body">
          <ul class="nav nav-tabs nav-stacked" ng-repeat="resource in resources">
            <li><a ng-href="/resources/{{resource._id}}">{{resource.name}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
