<header class="hero-unit" id="banner">
  <div class="container">
    <img src="assets/images/logo.gif" alt="This is moodle" class="resizeBanner">
    <h2>A Better Moodle</h2>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <!-- <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Create a resource
            </h3>
          </div>
          <div class="panel-body">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" class="form-control" id="name" placeholder="" ng-model="resource.name">
                <p class="help-block">Fill in the name of the resource, i.e. notes_v_2</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="link">Location: </label>
                <input type="text" class="form-control" id="link" placeholder="" ng-model="resource.link">
                <p class="help-block">Please fill in the location of the file, i.e. http://www.somefile.com</p>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-info" ng-click="createResource(resource)"><i class="fa fa-upload fa-1x"></i> Submit</button>
              </div>
            </div>
          </div>
        </div> -->
        <div class="panel-heading">
          <h3 class="panel-title">
            Upload a new Resource
          </h3>
        </div>
        <div class="panel-body">

<div class="row">

    <div class="col-md-12">

        <div ng-show="uploader.isHTML5">
            <div nv-file-drop="" uploader="uploader">
                <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                    Drop files here
                </div>
            </div>
        </div>
        <p>Or upload manually</p>
        <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>

    </div>

    <div class="col-md-12" style="margin-bottom: 40px">

        <h3>Upload queue</h3>
        <p>Queue length: {{ uploader.queue.length }}</p>

        <table class="table">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th ng-show="uploader.isHTML5">Size</th>
                    <th ng-show="uploader.isHTML5">Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <div>
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
        </div>

    </div>

</div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                Your Resources
              </h3>
            </div>
            <div class="panel-body">
              <ul class="nav nav-tabs nav-stacked" ng-repeat="resource in resources">
                <li><a ng-href="/resources/{{resource._id}}">{{resource.name}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
