<header class="hero-unit" id="banner">
  <div class="container">
    <img src="assets/images/logo.gif" alt="This is moodle" class="resizeBanner">
    <h2>A Better Moodle</h2>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>
        {{module.name}}
      </h3>
        <p>{{module.info}}</p>
      <hr>
    </div>
    <div class="col-md-4">
      <h3>
        Module Resources
      </h3>
        <div >
          <ul ui-sortable="sortableOptionsList[0]" class="resources-container screen floatleft" ng-model="moduleResources">
            <li class="resource" 
            ad-drag="true"
            ad-drag-data="resource"
            ad-drag-begin="onDragStart($data, $dragElement, $event);"
            ad-drag-end="onDragEnd($data, $dragElement, $lastDropElement, $event);"
            ng-repeat="resource in moduleResources">{{resource.name}}</li>
            <li ng-show="moduleResources.length==0">&nbsp;</li>
          </ul>
        </div>
    </div>
    <div class="col-md-4">
      <h3>
        All Available Resources
      </h3>
        <div >
          <ul ui-sortable="sortableOptionsList[1]" class="resources-container screen floatleft" ng-model="resources">
            <li class="resource"           
            ad-drop="true"
            ad-drop-over="onDragOver($data, $dragElement, $dropElement, $event);"
            ad-drop-leave="onDragLeave($data, $dragElement, $dropElement, $event)"
            ad-drop-end="onDrop($data, $dragElement, $dropElement, $event);"
            ng-repeat="resource in resources">{{resource.name}}</li>
            <li ng-show="resources.length==0">&nbsp;</li>
          </ul>
        </div>
    </div>
  </div>
</div>
