<header class="hero-unit" id="banner">
  <div class="container">
    <img src="assets/images/logo.gif" alt="This is moodle" class="resizeBanner">
    <h2>A Better Moodle</h2>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>
        {{module.name}}
      </h3>
        <p>{{module.info}}</p>
      <hr>
    </div>
    <div class="col-md-4">
      <h3>
        Resources
      </h3>
      <p>
        <ul ui-sortable="sortableOptions" ng-model="resources" class="list-group">
          <li ng-repeat="resource in moduleResources" class="list-group-item">
            <a href="/resources/{{resource._id}}">{{resource.name}}</a>
          </li>
        </ul>
      </p>
    </div>
    <div class="col-md-4">
      <h3>
        All Available Resources
      </h3>
      <p>
        <ul ui-sortable ng-model="resources" class="list-group">
          <li ng-repeat="resource in resources" class="list-group-item">
            <a href="/resources/{{resource._id}}">{{resource.name}}</a>
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>
